<h1>show articles</h1>
<table>
    <thead>
        <tr>
            <th>title</th>
            <th>description</th>
            <th>actions</th>
        </tr>
    </thead>

    <tbody>
        <% @articles.each do |article| %>
            <tr>
                <th><%= article.title %></th>
                <th><%= article.description %></th>
                <th><%= link_to 'show', article_path(article) %></th>
                <th><%= link_to 'edit', edit_article_path(article) %></th>
                <th><%= link_to 'Delete', article_path(article), method: :delete  %></th> <!-- #article recconait que c'est article.id -->
            </tr>
        <% end %>
    </tbody>
</table>

<%= link_to 'new', new_article_url %>
